header{
    color: whitesmoke;
    font: bold 15pt Ber;
    text-align: center;
}
section{
    color: black;
    font: bold 14pt Ber;
    background-color: aqua;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
}
p#ida{
    margin-left: 12px;
}
p#pes{
    margin-right: 10px;
}

input#tag2{
    width: 60px;
    height: 30px;
    border-radius: 10px;
}
input#calcular{
    width: 80px;
    height: 30px;
    top: -20px;
    margin-left: 10px;
}
p#fundo1{
    border: 1px solid;
    background-color: aqua;
    width:90px;
    border-width: 10px;
    border-color: rgb(16, 252, 252);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
    margin-left: 100px;
    margin-top: -34px;
}
p#fundo2{
    border: 1px solid;
    background-color: aqua;
    width:90px;
    border-width: 10px;
    border-color: rgb(16, 252, 252);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
    margin-left: 100px;
    margin-top: -33px;
}
p#femp{
    margin-right: 7px;
}
@font-face{
    font-family: "Ber";
    src: url('BERNHC.TTF');
  }
  @font-face{
    font-family: "Bau";
    src: url('BAUHS93.TTF');
  }
  @font-face{
    font-family: "Show";
    src: url('SHOWG.TTF');
  }
.genero{
    font: bold 12pt Show;
}

label#tag1{
    margin: 0x;
}
input#tag2{
    margin-left: 0px;
}
p#pes{
    margin-left: 16px;
}
p#alt{
    margin-right:  2px;
}
label#tag3{
    margin: 0px;
}

input#calcular{
    font: normal 12pt Bau ;
}

body#background{
    background-image: url(pexels-lukas-952482.jpg);
    background-repeat: no-repeat;
    background-size: 3000px;
    
}

